html, body {
    margin: auto;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    margin-top: 5em;
    height: inherit;
    width: inherit;
    display: block;
    background-color: darkslategrey;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    margin: auto;
}

canvas {
    display: block;
    margin: auto;
    margin-top: 1em;
    width: 65%;
    height: 65%;
    block-size: auto;
    padding: 3%;
}

.inputs {
    width: 65%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.speed-range, .size-range {
    display: block;
    margin: 1em;
}

.buttons {
    display: flex;
    margin: 1em;
}

#reset-button, #stop-start {
    font-size: 1em auto;
}

#speed-label, #size-label {
    margin-right: 0.5em;
}

#current-speed {
    margin-left: 0.5em;
}