html, body {
    margin: auto;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;

}

body {
    height: inherit;
    display: block;
    background-color: aqua;
    overflow: scroll;
}

canvas {
    margin: auto;
    margin-top: 5em;
    width: 1280px;
    height: 720px;
    padding: 1%;
    display: block;
}